header{
    background-color: orangered;
    height: 80px;
    width: auto;
    color: white;
  }

  .copyright_footer{
position: fixed;
color: white;
bottom: 0;
width: 100%;
background-color: orangered;
line-height: 3;
text-align: center;
left: 0;
}

.action-button{
padding: 5px 30px;
float: left;
transform: translate(30%, 70%);
border-radius: 10px;
font-family: 'Pacifico', cursive;
font-size: 25px;
color: #ffffff;
text-decoration: none;
background-color: orangered;
border-bottom: 5px solid orangered;
text-shadow: 0px -2px orangered;
transition: all 0.1s;
-webkit-transition: all 0.1s;
}


.action-button2{
padding: 5px 30px;
float: left;
transform: translate(100%, 700%);
border-radius: 10px;
font-family: 'Pacifico', cursive;
font-size: 25px;
color: #ffffff;
text-decoration: none;
background-color: orangered;
border-bottom: 5px solid orangered;
text-shadow: 0px -2px orangered;
transition: all 0.1s;
-webkit-transition: all 0.1s;
}
body{
    background-image: url(bugatti.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
  
    }