header{
    background-color: rgba(0, 0, 0, 0.77);
    height: 75px;
    width: auto;
    color: white;
  }

  .copyright_footer{
position: fixed;
color: white;
bottom: 0;
width: 100%;
background-color:rgba(0, 0, 0, 0.77);
line-height: 3;
text-align: center;
left: 0;
}

.action-button{
padding: 5px 30px;
float: left;
transform: translate(30%, 70%);
border-radius: 10px;
font-family: 'Pacifico', cursive;
font-size: 25px;
color: #ffffff;
text-decoration: none;
background-color: rgba(0, 0, 0, 0.77);
border-bottom: 5px solid rgba(0, 0, 0, 0.77);
text-shadow: 0px -2px rgba(0, 0, 0, 0.77);
transition: all 0.1s;
-webkit-transition: all 0.1s;
}


.action-button2{
padding: 5px 30px;
float: left;
transform: translate(100%, 700%);
border-radius: 10px;
font-family: 'Pacifico', cursive;
font-size: 25px;
color: #ffffff;
text-decoration: none;
background-color: rgba(0, 0, 0, 0.77);
border-bottom: 5px solid rgba(0, 0, 0, 0.77);
text-shadow: 0px -2px gray;
transition: all 0.1s;
-webkit-transition: all 0.1s;
}
body{
  background-image: url(bmw.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

  }